{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="title">
                <textarea type="text" name="content">
                </textarea>
                <input type="file" name="thumbnail">
                <input type="submit">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}