{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <h1>블로그 목록</h1>
            {% if request.user.is_authenticated %}
            <p>
                <a href="{% url 'blog:create' %}">글쓰기</a>
            </p>
            {% endif %}

            {% for blog in blog_list %}
                <p>
                    <a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a>
                </p>
            {% endfor %}
        </div>
        <div class="col-md-4"></div>

    </div>
</div>

{% endblock %}